@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@theme {
  --font-robotoMono: "Roboto Mono", sans-serif;
}
.parent-container {
  user-select: none !important; /* Forcefully disable selection */
  -webkit-user-select: none !important;
}
.user-select-none {
  user-select: none !important;
  -webkit-user-select: none !important;
}
